{# -*- mode: web -*- #}
<!doctype html>
<html>
  <head>
    <title>System Maintenance</title>
    <style>
     body { text-align: center; padding: 150px; font: 20px sans-serif; color: #333; }
     h1 { font-size: 50px; }
     a { text-decoration: none; }
     a:hover { color: #333; text-decoration: none; }
    </style>
  </head>

  <body>
    <h1>System Maintenance</h1>
    <div>
      <p>{{ maintenance_site_name }} is temporarily offline while we make some improvements.</p>
      <p style="font-size: 120%; font-weight: bold">
        We expect to be back online by {{ maintenance_end_time.stdout }}.
      </p>
      {% if maintenance_support_email is defined -%}
        <p>
          Please feel free to email us at <a href="mailto:{{ maintenance_support_email }}">{{ maintenance_support_email }}</a>.
        </p>
      {% endif -%}
    </div>
  </body>
</html>
